/* body */
body { background: #464646;}

/* .header_wrp*/
.header_wrp {
    background: #fff;
}
.header_wrp .header {
    border-bottom: 1px solid #dbdbdb;
    height: 80px
}
i.bx.bx-plus {
    font-size: 40px;
}

/* ank */

.ank button {
    text-align: center;
    width: 100%;
}
.ank i.bx.bx-chevrons-down {
    color: #929292;
    font-size: 25px;
    transition: 0.4s;
}
.ank button:hover i.bx.bx-chevrons-down {
    color: #cdcdcd;
    margin-bottom: 10px;
    transition: 0.4s;
}
.ank ul {
    /* border-top: 1px solid #858585;
    border-bottom: 1px solid #858585; */
    padding-top: 10px;
    transition: 0.4s;
    width: 100%;
    height: 170px;
    overflow: auto;
    position: relative;
}
.ank ul.close_list {
    transition: 0.4s;
    width: 30%;
    margin: auto;
    height: 0px;
    /* overflow: hidden; */
    overflow: inherit;
}

.ank ul.close_list::after {
    content: "";
    display: block;
    width: 1px;
    height: 80px;
    /* background: #858585; */
    background: linear-gradient(180deg, rgb(155 155 155) 39%, rgb(117 134 252) 98%);
    position: absolute;
    left: 50%;
    top: 0px;
}

.ank ul::-webkit-scrollbar {
    border-radius: 25px;
    background: transparent;
}

.ank ul::-webkit-scrollbar-track {
    border-radius: 25px;
    background: transparent;
}

.ank ul::-webkit-scrollbar-thumb {
    background: #7485fb69;
    border-radius: 25px;
    background-clip: padding-box;
    border: 5px solid transparent;
}




/* .guide-aside */
.guide-aside {
    box-shadow: none;
    /* background: #282828; */
    border-right: none;
    background: linear-gradient(0deg, rgb(69 69 69) 10%, rgb(44 44 44) 57%);
}
.guide-aside ul li a {
    color: #fff;
}
.guide-aside ul li.small_nav a {
    color: #888;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.guide-aside ul li i {
    color: #fff;
}
.guide-aside ul li.on, .guide-aside ul li:hover {
    background: linear-gradient(90deg, rgb(110 126 237 / 53%) 46%, rgb(0 212 255 / 0%) 100%);
}
.guide-aside ul li.small_nav::after {
    background: #7485fb;
}
.guide-aside ul li.small_nav.on a {
    color: #ffffff;
}
.guide-aside ul li.on.big_nav a, .guide-aside ul li:hover.big_nav a {
    color: #ffffff;
}
.guide-aside ul li.on i, .guide-aside ul li:hover i {
    color: #ffffff;
}
.guide-aside ul li.on.small_nav a, .guide-aside ul li:hover.small_nav a {
    color: #ffffff;
}

/* .page_wrap */
.page_wrap {
    width: calc(100% - 250px);
    margin-left: 250px;
    /* background: #000; */
    color: #fff;
    /* background: linear-gradient(262deg, rgb(116 133 251) -18%, rgb(0 0 0) 17%); */
    /* background: linear-gradient(262deg, rgb(116 133 251) -60%, rgb(70 70 70) 17%); */
    background: linear-gradient(227deg, rgb(155 155 155) -1%, rgb(70 70 70) 8%);
    
}
/* .page_wrap .page_inner {
    width: 85%;
} */
.page_wrap .page_name_wrap {
    /* border-image: linear-gradient(to top, #7687ff, #000000) 1; */
    border-image: linear-gradient(to top, #7687ff, #464646) 1;
}
.page_wrap .page_name {
    font-family: 'Montserrat';
    color: #fff;
    line-height: 34px;
}
.page_wrap .page_name_sub {
    color: #fff;
}
.page_wrap .page_sub_text {
    color: #c7c7c7;
    font-weight: 300;
}
.page_wrap .page_text {
    color: #000;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 14px;
}
.page_wrap .page_text em {
    color: #919bff;
    font-weight: 700;
}

/* .page_wrap .position_site {
    width: 35%;
} */
.page_wrap .page_head {
    color: #fff;
    font-size: 19px;
    font-weight: 800;
    /* background: #464646; */
    background: linear-gradient(270deg, rgb(116 133 251) -1%, rgb(70 70 70) 38%);
    padding: 5px 50px 5px 60px;
    margin: 0 10px 0 -60px;
    border-radius: 50px;
}

.code-box {
    width: 1080px;
    margin: auto;
    color: #000;
}
:not(.page_text_wrap) a:hover {
    color: #6c7ce9;
}
.file_path li, .use_link {
    border: 1px solid #919bff;
    border-radius: 50px;
    padding: 7px 20px 7px 15px;
    color: #919bff !important;
}
.use_link {
    margin-top: 0px;
    display: inline-block;
    
}
.page_wrap i {
    color: #000000;
}
.page_wrap .page_text_wrap {
    padding: 37px 40px 47px;
    box-shadow: none;
}
.issue-box-wrap {
    margin: 30px 0px 20px;
    border-bottom: 1px solid #e2e2e2;
}
pre[class*=language-] {
    margin: 1% 0;
}
.code-box.tp2 {
    border: none; 
    border-top: 1px solid #d1d1d19c;
    border-bottom: 1px solid #d1d1d19c;
}
.cap_tag {
    color: #000;
    font-size: 14px;
    font-weight: 200;
}
.cap_tag ul {
    display: flex; 
}
.cap_tag li {
    font-weight: 800;
    display: flex;
    align-items: center;
    border: 1px solid #919bff;
    border-radius: 50px;
    padding: 7px 20px 7px 15px;
    margin-left: 10px;
    color: #919bff;
}
.page_bot_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.ank_list:hover a {
    color:  #a3aeff;
}

.ank_list.on::before {
    border: 1px solid  #a3aeff;
    background:  #a3aeff;
}

.ank_list.on a {
    color: #a3aeff;
}

.ank_list:hover::before {
    border: 1px solid  #a3aeff;
    background:  #a3aeff;;
}

.ank_list a {
    color: #9d9d9d;
}

.ank ul.close_list .ank_list {
    display: none;
}

.popup_tweet {
    background: #272727;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 18%);
}

.popup_tweet .tweet_icon i {
    color: #ffffff;
}

.page_text_wrap .open_shape.on {
    background: #ffffff;
}
.page_text_wrap .open_bg.on {
    background: #7485fb;
}
.page_text_wrap .open_shape:hover {
    background: #7485fb;
}

i.bx-copy-alt {
    color: #969794;    transition: 0.4s;
}

.btn-copy:hover {
    color: #ffffff;
}

.btn-copy:hover i.bx-copy-alt {
    color: #ffffff;
}

.guide-aside::-webkit-scrollbar-thumb {
    background: #7485fb54;
    border-radius: 25px;
    background-clip: padding-box;
    border: 5px solid transparent;
}

.guide-inner-left .code-box {
    width: 100%;
    text-align: inherit;
    overflow-y: scroll;
}




@media screen and (max-width: 1600px) {
    .code-box {
        width: 100%;
    }
    
}


@media screen and (max-width: 1200px) {
    .page_wrap {
        width: 100%;
        margin-left: 0px;
    }
    .page_wrap .page_inner {
        width: 96%;
        margin: auto;
    }
    .guide-aside.open_nav {
        left: 200px;
        transition: 0.3s;
    }
    .header_wrp.open_menu .btn_menu2 {
        z-index: 0;
        display: none;
    }

    .page_wrap .page_text_wrap {
        padding: 4% 4%;
    }
    .page_wrap.page_wide .code-box, .code-box.tp2 {
        padding: 4% 0%;
    }

    
}

@media screen and (max-width: 576px) {
    .header_wrp .header {
        height: 50px;
    }
    .header_wrp .btn_menu {
        width: 19px;
    }
    .header_wrp .header h1 {
        width: 47vw;
    }
    .header_wrp .header h1 a {
        font-size: 13px;    justify-content: center;
    }
    .header_wrp .header h1 a:before {
        width: 20px;
        height: 13px;
    }
    i.bx.bx-plus {
        font-size: 33px;
    }

    .page_wrap .page_head {
        font-size: 15px;
        display: block;
        margin-bottom: 4%;
    }
    .popup_tweet .popup_tweet_board .page_head {
        display: inline-block;
    }
    .page_wrap.page_wide .page_head {
        font-size: 15px;
    }

    .page_bot_wrap {
        display: block;
    }
    .use_link {
        padding: 1% 3% 1% 3%;
        font-size: 13px;
        width: 100%;
        text-align: center;
        margin-bottom: 3%;
    }
    .cap_tag {
        font-size: 11px;
        width: 100%;
    }
    .cap_tag ul {
        justify-content: space-between;
    }
    .cap_tag li {
        padding: 1% 5% 1% 5%;
        margin-left: 0%;
    }
    .page_wrap i.bx.bx-link {
        font-size: 15px;
    }
}

/* 230612 print button S */
.page_wrap .page_print {position: absolute; right: 0; bottom: 0;}
.page_wrap .page_print input[type="button"] {cursor: pointer; font-weight: 700;background: transparent; border: 1px solid #fff; color: #fff; border-radius: 5px; padding: 3px 13px; font-size: 12px;}
.page_wrap .page_print input[type="button"]:hover{ background: #7687FF;background: -moz-linear-gradient(left, #7687FF 0%, #555 100%);background: -webkit-linear-gradient(left, #7687FF 0%, #555 100%);background: linear-gradient(to right, #7687FF 0%, #555 100%);}
@media print {
    /* 프린트 출력시 비노출 영역 추가하기 */
    body,  div {position: relative;}
    .guide-aside, .header_wrp,.ank,.page_foot{display:none}  /* 비노출 */
    .popup_tweet{background: transparent;box-shadow:none} /*채팅 아이콘 비노출 */
    .page_wrap{width: 100%;margin: 0 auto;position: relative;} 
    .page_wrap .page_inner,.page_wrap.page_blog .page_inner{width: 95%; padding: 30px 0px; margin: 0 auto;position: relative;}
    .code-box{width: 100%;margin: 0 auto;position: relative;overflow: hidden;}
    .page_text,.con_box,.panel_base{position: relative;}
    .page_text_wrap + .page_text_wrap {page-break-inside: avoid;-webkit-region-break-inside: avoid;position: relative;}  /* page_text_wrap 기준으로 문단나누기*/
    *{-webkit-print-color-adjust: exact;print-color-adjust: exact;} /*배경 유지*/
}
/* 230612 print button E */



