/* 헤더 좌측 슬라이드 */
.hd_left_bnr{width:220px;}
.hd_slider .slick-arrow {position:absolute;top:50%;z-index:1;transform:translateY(-50%);display:block!important;font-size:0;}
.hd_slider .slick-prev {left:-21px;width:7px;height:10px;background:url(https://img.megagong.net/m/2021/0105_planner/icon_L.png) no-repeat center;}
.hd_slider .slick-next {right:-15px;width:7px;height:10px;background:url(https://img.megagong.net/m/2021/0105_planner/icon_R.png) no-repeat center;}



/* 우측 퀵 슬라이드  */
.main_exhibi.d1220{margin: 40px 0 0 620px;width: 234px;}
.main_exhibi.d0215{margin: 90px 0 0 620px;width: 234px;}
.main_exhibi.d0330{margin: 134px 0 0 620px;width: 234px;}
.main_exhibi.d0420{margin: 0 0 0 620px;width: 241px;}
.main_exhibi_mock span{position: absolute;right: -0px;top:-0px}
.main_exhibi_mock .item a{display: block;position: relative;padding: 28px 10px 0 0;}
.main_exhibi_mock .item a i{position: absolute; top: 10px; right: -1px;}
.main_exhibi_mock .slick-arrow{display: none !important;}
.main_exhibi_mock .slick-dots {position:absolute;bottom:-15px;left:-10px;right:0;font-size:0;text-align: center;}
.main_exhibi_mock .slick-dots li {display:inline-block;margin:0 2px;}
.main_exhibi_mock .slick-dots button {width:8px;height: 8px;border-radius: 50%;background:#000;opacity:.3;font-size:0;}
.main_exhibi_mock .slick-dots .slick-active button {opacity: 1;}



/*  */
.con01_sd_wrap{width:100%;margin:0 auto;}
  .con01_sd_wrap .con01_sd .item {width: 1080px;}
  .con01_sd_wrap .con01_sd .slick-slide{position:relative;margin: 0 10px;}
  .con01_sd_wrap .con01_sd .slick-slide::before{position:absolute;display:block;content:'';background: rgba(167, 73, 105 , 0.5);top: 0;left: 0;width:100%;height: 91%;z-index: 2;border-radius: 10px;}
  .con01_sd_wrap .con01_sd .slick-slide.slick-center::before{display:none}
  .con01_sd_wrap .con01_sd .item img{display:inline-block;float:left;}

  .con01_sd_wrap .con01_sd  .slick-dots {position:absolute;width: 1080px;left: 50%;right:0;font-size:0;transform: translateX(-50%);-webkit-transform: translateX(-50%);-moz-transform: translateX(-50%);}
  .con01_sd_wrap .con01_sd  .slick-dots li {display:inline-block;width: 16.66%;height:5px;}
  .con01_sd_wrap .con01_sd  .slick-dots li button {font-size:0;width: 100%;height: 100%;display:block;background:#943052;}
  .con01_sd_wrap .con01_sd  .slick-dots li.slick-active button {background:#dd556c;}

  @media screen and (max-width: 1200px) {
    .con01_sd_wrap .progress{width: 98%;}
    .con01_sd_wrap .con01_sd .slick-dots{width: 94%;}
  }