@charset "euc-kr";

/* .inner::after{content:'';display:block;clear: both} */
.main_wrp{width:100%;min-width: 1080px;margin:0 auto}

/* 메인 탑 배너 */
.main_topbnr{position: relative;background-color: #1c1c1c;height: 120px;margin: 0}
/*.main_topbnr::before{content: "";width: 50%;position: absolute;top:0;left:0;background-color: #17468a;height: 100%}*/
.main_topbnr .mtb_inner{position: relative;width: 1080px;margin:0 auto;overflow: hidden;}
.main_topbnr .mtb_inner .mtb_mb{display: none}
.main_topbnr .mtb_inner .mtb_link{position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
.main_topbnr .mtb_inner a{position: absolute;width: 100%;height: 100%;text-indent: 0;font-size: 0;top:0;left:0}
.main_topbnr .mtb_inner .mtb_link.con3 a{width: 33.3%}
.main_topbnr .mtb_inner .mtb_link.con3 a:nth-child(1){left:0}
.main_topbnr .mtb_inner .mtb_link.con3 a:nth-child(2){left:33.3%}
.main_topbnr .mtb_inner .mtb_link.con3 a:nth-child(3){left:66.6%}
.main_topbnr.con_one .mtb_inner a{text-indent: 0}
.main_topbnr .dday_num{position: absolute;font-size: 15px;top: 0;left: 6.2%;color: #fff;text-align: center;font-weight: bold;width: 91px;letter-spacing: -0.5px;height: 95px;width: 95px;/*left: 3.2%;*//*width: 109px;*/}
.main_topbnr .dday_num span{line-height: 1;display: block;color: #272846;font-size: 16px;font-weight: bold;padding: 22px 0 0 0;letter-spacing: -0.07em;;text-indent: 0}
.main_topbnr .dday_num strong{display: block;font-size: 23px;color: #272846;margin-top: 5px;text-indent: 0}
.main_topbnr.con_one .mtb_inner a{float: none;width: 100%;display: block}
.main_topbnr.con_one::before{display: none}
/* 메인 비쥬얼 */
.main_visual{position: relative;background-color: #f1f1f1;padding: 40px 0 180px}
.main_visual .inner{position: relative;width: 1130px;margin:0 auto}
.main_visual .main_slider{height: 462px;overflow: hidden;}
.main_visual .main_slider img{width: 328px;transition: all 0.5s ease-in-out;-webkit-transform:scale(1.0);-ms-transform:scale(1.0);-moz-transform:scale(1.0);-o-transform:scale(1.0);transform:scale(1.0)}
.main_visual .ms_arrow.sprev{position: absolute;top: 185px;left: -30px;background: url('https://img.megagong.net/gong/main/main_tealeft.png') no-repeat 0 0;font-size:0;text-indent:-99999px;width: 37px;height: 67px}
.main_visual .ms_arrow.snext{position: absolute;top: 185px;right: -30px;background: url('https://img.megagong.net/gong/main/main_tearight.png') no-repeat 0 0;font-size:0;text-indent:-99999px;width: 37px;height: 67px}
.main_visual .slick-arrow,.main_visual .slick-dot{display: none !important}
.main_visual .slick-list{padding:39px 0 45px !important;margin-left: 25px;margin-right: -15px}
.main_visual .main_slider .slick-center img{transition: all 0.5s ease-in-out;-webkit-transform:scale(1.2);-ms-transform:scale(1.2);-moz-transform:scale(1.2);-o-transform:scale(1.2);transform:scale(1.2);-moz-box-shadow: 4px 5px 3px #8f8f8f;-webkit-box-shadow: 4px 5px 3px #8f8f8f;box-shadow: 4px 5px 3px #8f8f8f}

/* 메인 비쥬얼 top*/
.main_visual_top{position: relative;background-color: #92b6eb;margin-bottom: 6px}
.main_visual_top .inner{position: relative;width: 1080px;margin:0 auto}
.main_visual_top .inner::after{content: "";clear: both;display: block;}
.main_visual_top .main_left{width: 722px;float: left;}
.main_visual_top .main_left .sl_item{position: relative;text-align: center;}
.main_visual_top .main_left .sl_item::before{content: "";position: absolute;top:0;right:-45px;display: block;width: 154px;height: 112px;background: url('https://img.megagong.net/gong/main/main_left_01_0411_bg.png') no-repeat 0 0;}
.main_visual_top .main_left .sl_item a{display: block;}
.main_visual_top .main_right{position: absolute;top: 50%;-webkit-transform: translateY(-50%);transform: translateY(-50%);width: 370px;z-index: 1;left: 50%;margin-left: 183px;margin-top: -6px}
.main_visual_top .main_right .sl_item{text-align: center;/*-webkit-box-shadow: 4px 4px 5px #6c93cc;box-shadow: 4px 4px 5px #6c93cc;*/}
.main_visual_top .main_right .sl_item.s01{/*background-color: #6947cf;*/}
.main_visual_top .main_right .sl_item img{/*margin-top: -19px;*/}
.main_visual_top .main_right .sl_item a{display: block;}
.main_visual_top .main_right .slick-arrow{display: none !important}
.main_visual_top .main_right .slick-dots{text-align: center;position: absolute;bottom:-18px;left:0;width: 100%}
.main_visual_top .main_right .slick-dots li{display: inline-block;padding:0 5px}
.main_visual_top .main_right .slick-dots li button{display: block;width: 12px;height: 12px;border:1px solid #4378cc;font-size: 0;-webkit-border-radius: 100%;border-radius: 100%}
.main_visual_top .main_right .slick-dots li.slick-active button{background-color: transparent;border:1px solid #4378cc;background-color: #4378cc;}
.main_visual_top .dday_num{position: absolute;font-size: 15px;top: 0;left: 0;color: #fff;text-align: center;font-weight: bold;width: 91px;letter-spacing: -0.5px;min-height: 150px;width: 114px;padding-top: 35px;;background: url('https://img.megagong.net/gong/main/main_left_01_0416_dday.png') no-repeat 0 0;}
.main_visual_top .dday_num span{line-height: 1;display: block;color: #fff;font-size: 17px;padding: 0px 0 6px 0;letter-spacing: -0.07em;;text-indent: 0}
.main_visual_top .dday_num strong{display: block;font-size: 22px;color: #fff;margin-top: 5px;text-indent: 0;font-weight: bold;}
.main_visual_top .dday_num.lastm{padding-top: 20px}
.main_visual_top .dday_num.lastm strong{padding-bottom: 10px}
/* 메인 중간배너 */
.main_middlebnr{position: relative;width: 1080px;margin: 0 auto 6px}
.main_middlebnr::after{content: "";display: block;clear: both;}
.main_middlebnr img{}
.main_middlebnr a{display: block;font-size: 0}
.main_middlebnr .mdbnr_left{float: left;}
.main_middlebnr .mdbnr_left.secnd{padding:0 6px 0 6px}
.main_middlebnr .mdbnr_right{float:left;}
.main_middlebnr .mdbnr_left .mr_pc,.main_middlebnr .mdbnr_right .mr_pc{display: inline-block;}
.main_middlebnr .mdbnr_left .mr_mb,.main_middlebnr .mdbnr_right .mr_mb{display: none;}

/* 기획전 중간배너 */
.main_tcher_exhi{position: relative;width: 1080px;margin: 0 auto 60px;background: #f7f7f7}
.main_tcher_exhi .inner{border:1px solid #e5e5e5;padding: 0 50px;}
.main_tcher_exhi .tcherex_slider{}
.main_tcher_exhi .ts_item{}
.main_tcher_exhi .slick-arrow{position: absolute;top: 50%;-webkit-transform: translateY(-50%);transform: translateY(-50%);display: block;width: 15px;height: 30px;background: url('https://img.megagong.net/gong/main/main_tcher_exhi.png') no-repeat 0 0;z-index: 1;font-size: 0;line-height: 0}
.main_tcher_exhi .slick-prev{left:-30px}
.main_tcher_exhi .slick-next{right:-30px;background-position: -40px 0}

/* 공캠 선생님 */
.secnd_teacher{position: relative;}
.secnd_teacher .inner{position: relative;width: 1080px;margin:0 auto 65px}
.secnd_teacher h3 {position: relative;margin: 0 0 25px;height: 25px;}
.secnd_teacher h3::before{content: "";position: absolute;top:50%;left:0;-webkit-transform: translateY(-50%);transform: translateY(-50%);display: block;width: 50%;height: 1px;background-color: #a5a5a5}
.secnd_teacher h3::after{content: "";position: absolute;top:50%;right:0;-webkit-transform: translateY(-50%);transform: translateY(-50%);display: block;width: 50%;height: 1px;background-color: #a5a5a5}
.secnd_teacher h3 span{display: block;width: 181px;height: 100%;position: absolute;top:0;left:50%;font-size: 0;line-height: 0;background:#fff url('https://img.megagong.net/gong/main/main_tit_0406.png') no-repeat center -44px;-webkit-transform: translateX(-50%);transform: translateX(-50%);z-index: 1}
/* .secnd_teacher .slick-arrow,.secnd_teacher .slick-dot{display: none !important} */
.secnd_teacher .slick-dots{display: none !important}
.secnd_teacher .slick-arrow{position: absolute;width:33px;height: 55px}
.secnd_teacher .slick-prev{top: 50%;left: -33px;-webkit-transform: translateY(-50%);transform: translateY(-50%);background: url('https://img.megagong.net/gong/main/secnd_teacher_direct.png') no-repeat 0 center;font-size:0;line-height: 0;}
.secnd_teacher .slick-next{top: 50%;right: -10px;-webkit-transform: translateY(-50%);transform: translateY(-50%);background: url('https://img.megagong.net/gong/main/secnd_teacher_direct.png') no-repeat 100% center;font-size:0;line-height: 0}
.secnd_teacher .teacher_slider {margin-right: -22px;}
.secnd_teacher .tc_slide {}
.secnd_teacher .tc_slide > div{border:1px solid #dcdcdc;margin-right: 23px;}
.secnd_teacher .tc_slide img{width: 122px;margin:20px auto 17px;}
.secnd_teacher .tc_slide .tc_name{position: relative;display: block;font-size: 14px;text-align: center;padding-bottom: 15px;margin-bottom: 15px;}
.secnd_teacher .tc_slide .tc_name strong{font-size: 14px;padding-left: 5px}
.secnd_teacher .tc_slide .tc_name::after{content: "";position: absolute;bottom:0;left:50%;margin-left: -10px;width: 20px;height: 1px;background-color: #adadad}
.secnd_teacher .tc_slide .tc_info{display: block;font-size: 13px;text-align: center;padding-bottom: 27px;color: #444444;line-height: 1.4;letter-spacing: -0.08em}
/* 메인하단 */
.main_bottomzone{position: relative;width: 1080px;margin:0 auto;padding: 0 0 100px}
.main_bottomzone::after{content: "";display: block;clear: both;}

/* 온라인서점 */
.bookstr_wrp{position: relative;width: 1080px;margin:0 auto 0}
.bookstr_wrp h3{position: relative;margin:0 0 25px;height: 25px}
.bookstr_wrp h3::before{content: "";position: absolute;top:50%;left:0;-webkit-transform: translateY(-50%);transform: translateY(-50%);display: block;width: 50%;height: 1px;background-color: #a5a5a5}
.bookstr_wrp h3::after{content: "";position: absolute;top:50%;right:0;-webkit-transform: translateY(-50%);transform: translateY(-50%);display: block;width: 50%;height: 1px;background-color: #a5a5a5}
.bookstr_wrp h3 span{display: block;width: 181px;height: 100%;position: absolute;top:0;left:50%;font-size: 0;line-height: 0;background:#fff url('https://img.megagong.net/gong/main/main_tit_0406.png') no-repeat center 0;-webkit-transform: translateX(-50%);transform: translateX(-50%);z-index: 1}
.bookstr_wrp .bookstr_bnr{position: relative;padding-bottom: 83px;margin-bottom: 15px;}
.bookstr_wrp .bookstr_bnr::after{content: "";display: block;position: absolute;bottom:0;left: 0;width: 100%;height: 83px;background: url('https://img.megagong.net/gong/main/bookstr_wrp_bg.png') no-repeat center 100%;z-index: 1}
.bookstr_wrp .bookstr_bnr ul{padding:0 27px;}
.bookstr_wrp .bookstr_bnr ul::after{content:'';display:block;clear: both}
.bookstr_wrp .bookstr_bnr ul li{float: left;width: 16.666%;text-align: center;position: relative;cursor: pointer}
.bookstr_wrp .bookstr_bnr ul li img{-webkit-box-shadow: -4px 13px 9px #b4b4b4;box-shadow: -4px 13px 9px #b4b4b4;}
.bookstr_wrp .bookstr_bnr .tit_link{position: absolute;top: 0;left: 0;width: 467px;height: 230px;text-indent: -9999em}

/* 공캠 배너 */
.secnd_banner{position: relative;width: 1080px;margin:0 auto 15px}
.secnd_banner h3{position: relative;margin:0 0 25px;height: 25px}
.secnd_banner h3::before{content: "";position: absolute;top:50%;left:0;-webkit-transform: translateY(-50%);transform: translateY(-50%);display: block;width: 50%;height: 1px;background-color: #a5a5a5}
.secnd_banner h3::after{content: "";position: absolute;top:50%;right:0;-webkit-transform: translateY(-50%);transform: translateY(-50%);display: block;width: 50%;height: 1px;background-color: #a5a5a5}
.secnd_banner h3 span{display: block;width: 181px;height: 100%;position: absolute;top:0;left:50%;font-size: 0;line-height: 0;background:#fff url('https://img.megagong.net/gong/main/main_tit_0406.png') no-repeat center -87px;-webkit-transform: translateX(-50%);transform: translateX(-50%);z-index: 1}
.secnd_banner.firstc{margin-top: 0;margin-bottom: 30px}

/* 메인 게시판 */
.secnd_board{position: relative;width: 1080px;margin:0 auto}
.secnd_board::after{content:'';display:block;clear: both}
.board_wrap{position: relative;float:left;background-color: #fff;width:350px;height: 330px;margin-left: 15px;box-sizing: border-box}
.board_wrap > .inner{padding: 45px 26px 45px 26px;border:1px solid #dedede}
.board_wrap:first-child{margin-left: 0}
.board_wrap h3{position: relative;padding-left:4px;height: 38px;font-size: 18px;font-weight: bold;line-height: 38px;border-bottom:1px solid #000}
.board_wrap h3 .btn_more{position: absolute;top:14px;right:3px;width:50px;height: 11px;background: url('https://img.megagong.net/gong/main/btn_more.png') no-repeat 0 0;font-size:0;text-indent:-99999px}
.board_wrap .board_list{max-height: 199px;overflow: hidden}
.board_wrap .board_list li{width:100%;border-top:1px solid #e2e2e2}
.board_wrap .board_list li:first-child{border-top:none}
.board_wrap .board_list a{display: block;font-size: 14px;color:#000;line-height: 39px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;max-width: 90%;text-decoration: none}
.board_wrap.supprt_ct h3{margin-bottom: 25px}
.board_wrap.supprt_ct dl{border-left: 1px solid #e5e5e5;margin-right: -1px}
.board_wrap.supprt_ct dl dt{padding-bottom: 10px;font-weight: bold;font-size: 14px;padding-left: 120px;letter-spacing: -0.5px;padding-top: 7px}
.board_wrap.supprt_ct dl dd{padding-left: 15px}
.board_wrap.supprt_ct dl .call_num{padding: 0 0 8px 120px}
.board_wrap.supprt_ct dl .call_num strong{display: inline-block;border: 1px solid #ddd;padding: 2px 2px;font-size: 11px;line-height: 1;margin-bottom: 5px}
.board_wrap.supprt_ct dl .call_num span{display:block;font-size: 31px;color: #888;font-weight: bold;margin-bottom: 13px;letter-spacing: -0.6px}
.board_wrap.supprt_ct dl .call_time{position: relative;font-size: 12px;color: #777;background-color: #f8f8f8;padding-bottom: 7px;border: 1px solid #efefef;padding-top: 14px;padding-left: 120px;border-bottom: 0}
.board_wrap.supprt_ct dl .call_time.last{border-top: 0;padding-top: 5px;border-bottom: 1px solid #efefef;padding-bottom: 15px}
.board_wrap.supprt_ct dl .call_time strong{position: absolute;top: 15px;left: 60px;font-size: 11px;letter-spacing: -0.5px;line-height: 1.4;color: #555}
.board_wrap.supprt_ct dl .call_time.last strong{top: 5px}
.board_wrap.supprt_ct dl .call_time span{padding: 0;display: block;line-height: 1.4;font-size: 12px;line-height: -0.5px;color: #555}
.board_wrap.supprt_ct dl .call_time.aln{padding-top: 14px}
.board_wrap.supprt_ct dl .call_time.aln strong{top:14px;left:15px}
/* .board_wrap.supprt_ct ul{overflow: hidden;clear: both;padding: 35px 0 0;margin-left: -10px}
.board_wrap.supprt_ct ul::after{content:'';display:block;clear: both}
.board_wrap.supprt_ct ul li{float: left;width: 33.333%}
.board_wrap.supprt_ct ul li a{display: block;padding: 7px 0;text-align: center;border: 1px solid #ccc;margin-left: 8px;font-weight: bold} */
.board_wrap.supprt_ct dl.fir{border:0;background: #fff url('https://img.megagong.net/new/mypage/gong_contactphn.jpg') no-repeat 40px 3px}
.board_wrap .ntell_popwrp{position: absolute;top:0;left: 0;width: 100%;height: 100%;background-color: #fff;}
.board_wrap .ntell_popwrp > div{position: relative;padding:27px 30px 26px;text-align: center;border: 1px solid #dedede;}
.board_wrap .ntell_popwrp .m_anno{padding: 54px 0 15px;text-align: center;background: url('https://img.megagong.net/gong/common/ntell_bg.png') no-repeat 93% 0;}
.board_wrap .ntell_popwrp .m_anno span{display: block;border-top: 2px solid #0f9e8c;border-bottom: 2px solid #0f9e8c;color: #1e1e1e;padding: 13px 0 13px;font-size: 21px;font-weight: bold;line-height: 1.3;letter-spacing: -0.05em;}
.board_wrap .ntell_popwrp .m_anno strong{display: block;font-size: 21px;font-weight: bold;line-height: 1.3;letter-spacing: -0.05em;color: #0f9e8c}
.board_wrap .ntell_popwrp .s_anno{font-size: 15px;color: #272727;line-height: 1.4;letter-spacing: -0.05em;padding-bottom: 15px}
.board_wrap .ntell_popwrp a {display: block;width: 260px;margin:0 auto;background-color: #0f9e8c;}
.board_wrap .ntell_popwrp a span{padding:11px 15px;display: block;font-size: 16px;color: #fff;letter-spacing: -0.05em;}
.board_wrap .ntell_popwrp a span img{vertical-align: middle;margin-top: -1px}

/* 플로팅 배너 */
.ly_btm_fixed{position: fixed;bottom:0px;right:0;z-index: 100}
.ly_btm_fixed .crdwrp{position: relative;-webkit-transition: 0.6s all;transition: 0.6s all;text-align: center;/*-webkit-transform-style: preserve-3d;transform-style: preserve-3d;*/}
.crdwrp.stflip {/*-webkit-transform: rotateY(180deg);transform: rotateY(180deg)*/}
.crdwrp.stflip img{/*-webkit-transform: rotateY(180deg);transform: rotateY(180deg)*/}
/*.crdwrp.stflip {-webkit-animation: sfopacity 0.1s ease-in alternate;-moz-animation: sfopacity 0.1s ease-in alternate;animation: sfopacity 0.1s ease-in alternate;}*/
.crdwrp.stflip {-webkit-transition: 0.6s all;transition: 0.6s all;}
.crdwrp .bnnr_flp{position: absolute;bottom: 0;right: 0;-webkit-transition: 0.6s all;transition: 0.6s all;width: 180px !important}
.crdwrp .bnnr_flp.c01,.crdwrp .bnnr_flp.c02{z-index: 0;-webkit-transition: 0.6s all;transition: 0.6s all;opacity: 0;right:0;}
.crdwrp .bnnr_flp.c01.ovview,.crdwrp .bnnr_flp.c02.ovview{opacity: 1;-webkit-transition: 0.6s all;transition: 0.6s all;z-index: 1;right:0;}
.ly_btm_fixed.only_mb{display: none}

.mobile_navbtn.on{top:-44px}

.plus_bnr{position: absolute;top: 50%;-webkit-transform: translateY(-50%);transform: translateY(-50%);right:0;z-index: 2;}
.plus_bnr .bnr_img{width: 358px;}
.plus_bnr .pluspop_clo{position: absolute;top: 0;right:-30px;z-index: 1;cursor: pointer;}
.plus_bnr span{position: absolute;bottom: 0;left:0;z-index: 1;font-size: 0;line-height: 0;width: 100%}
.plus_bnr span a{display: inline-block;width: 100%;height:60px;font-size: 0;line-height: 0;background-color: #000;opacity: 0}
.plus_bnr span a.lk_01{width: 50%;}

.main_rightbnr{position: absolute;right:-232px;bottom: -137px}

.top_bnrzone{position: relative;background-color: #000}
.top_bnrzone .inner{position: relative;width: 1080px;margin:0 auto}
.top_bnrzone .inner a{position: relative;display: block;text-align: center;padding:14px 40px 16px}
.top_bnrzone .inner a::after{content: "";display: block;clear: both;}
.top_bnrzone .inner::after{content: "";display: block;clear: both;}
.top_bnrzone .bnr_txt{float: left;margin-top: 21px;}
.top_bnrzone .bnr_ribbn{float: right}


.main_middlebnr2{background:#eceffe url('https://img.megagong.net/m/2019/0424_goverall/belt_tit.jpg') no-repeat 0 0;position: relative;width: 1080px;margin: 0 auto 6px;}
.main_middlebnr2 .inner{border:1px solid #ddd;}
.main_middlebnr2 .inner::after{content: "";display: block;clear: both;}
.main_middlebnr2 .inner ul{position: relative;float: right;padding-right: 30px;}
.main_middlebnr2 .inner ul::after{content: "";display: block;clear: both;}
.main_middlebnr2 .inner ul li{position: relative;float: left;background: url('https://img.megagong.net/m/2019/0424_goverall/belt_line.jpg') no-repeat 0 center;}
.main_middlebnr2 .inner ul li:first-child{background: none}
.main_middlebnr2 .inner ul li a{display: block;padding:31px 15px 31px 35px;text-align: center;}
.main_middlebnr2 strong {display: none}

.miniright_bnr{position: absolute;right:-130px;top:0}
