/*
History 추가,수정할 사항은 꼭 주석을 적고 작업 하도록 합시다.최초 작성 2008.09
*/

/* @charset "euc-kr"; */



/* BODY 문서 속성 */

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;

	/* IE 전용, 스크롤바 속성 */
	scrollbar-face-color       : #f4f4f4;
	scrollbar-highlight-color  : #ffffff;
	scrollbar-shadow-color     : #b4b4b4;
	scrollbar-darkshadow-color : #ffffff;
	scrollbar-3dlight-color    : #ffffff;
	scrollbar-track-color      : #eeeeee;
	scrollbar-arrow-color      : #b3b3b3;
	
	
}


.topbg {background-repeat:repeat-x ; background-position:left top;}

/* 속성 */
td {font-family:dotum;font:12px;color:#666666;font-family: "돋움", "굴림","Trebuchet MS", "Arial";line-height:160%;}


A:link    {font-family: "dotum","돋움", "arial"; text-decoration: none; color: #7e7e7e; outline:none;}  /*font-size:9pt; line-height:160%;*/
A:active  { font-family: "dotum","돋움", "arial"; text-decoration: none; color: #7e7e7e; } /*font-size:9pt; line-height:160%;*/
A:visited { font-family: "dotum","돋움", "arial"; text-decoration: none; color: #7e7e7e; } /*font-size:9pt; line-height:160%;*/
A:hover   { font-family: "dotum","돋움", "arial"; text-decoration: none; color:#0076cb; } /*font-size:9pt; line-height:160%;*/



form {margin:0px;}

/* 테이블 라인주기 */
.line_l { BORDER-LEFT: #dddddd 1px solid; } 
.line_r { BORDER-righT: #dddddd 1px solid; } 
.line_lr { BORDER-LEFT: #dddddd 1px solid;  BORDER-right: #dddddd 1px solid;} 

/* 모든 이미지 두께 0 으로 설정 */
img { border: none; } 


/*png */
.png24 { 
    tmp:expression(setPng24(this)); 
} 



.topbg {background-repeat:repeat-x ; background-position:left top;}

/* 11px폰트*/
.11px_gray { font-family:"dotum","돋움", "arial"; font-size: 11px; color:#666666; text-decoration: none; line-height:130%;}
.11px_gray  a:link { font-family:"dotum","돋움", "arial"; font-size: 11px; color:#666666; text-decoration: none;line-height:130%;}
.11px_gray  a:visited { font-family:"dotum","돋움", "arial"; font-size: 11px; color:#666666; text-decoration: none; line-height:130%;}
.11px_gray  a:active { font-family:"dotum","돋움", "arial"; font-size: 11px; color:#666666; text-decoration: none;line-height:130%;}
.11px_gray  a:hover { font-family:"dotum","돋움", "arial"; font-size: 11px; color:#666666; text-decoration: none;line-height:130%;}

.11px_gray1 { font-family:"dotum","돋움", "arial"; font-size: 11px; color:#323335; text-decoration: none; line-height:130%;}
.11px_gray1 a:link { font-family:"dotum","돋움", "arial"; font-size: 11px; color:#323335; text-decoration: none;line-height:130%;}
.11px_gray1 a:visited { font-family:"dotum","돋움", "arial"; font-size: 11px; color:#323335; text-decoration: none; line-height:130%;}
.11px_gray1 a:active { font-family:"dotum","돋움", "arial"; font-size: 11px; color:#323335; text-decoration: none;line-height:130%;}
.11px_gray1 a:hover { font-family:"dotum","돋움", "arial"; font-size: 11px; color:#3075c2; text-decoration: none;line-height:130%;}


.11px_gray2 { font-family:"dotum","돋움", "arial"; font-size: 11px; color:#9e9e9e; text-decoration: none; line-height:130%;}
.11px_gray2  a:link { font-family:"dotum","돋움", "arial"; font-size: 11px; color:#9e9e9e; text-decoration: none;line-height:130%;}
.11px_gray2  a:visited { font-family:"dotum","돋움", "arial"; font-size: 11px; color:#9e9e9e; text-decoration: none; line-height:130%;}
.11px_gray2  a:active { font-family:"dotum","돋움", "arial"; font-size: 11px; color:#9e9e9e; text-decoration: none;line-height:130%;}
.11px_gray2  a:hover { font-family:"dotum","돋움", "arial"; font-size: 11px; color:#3075c2; text-decoration: underline;line-height:130%;}


.11px_gray3 { font-family:"dotum","돋움", "arial"; font-size: 11px; color:#000000; text-decoration: none; line-height:150%;}
.11px_gray3  a:link { font-family:"dotum","돋움", "arial"; font-size: 11px; color:#000000; text-decoration: none;line-height:150%;}
.11px_gray3  a:visited { font-family:"dotum","돋움", "arial"; font-size: 11px; color:#000000; text-decoration: none; line-height:150%;}
.11px_gray3  a:active { font-family:"dotum","돋움", "arial"; font-size: 11px; color:#000000; text-decoration: none;line-height:150%;}
.11px_gray3  a:hover { font-family:"dotum","돋움", "arial"; font-size: 11px; color:#3075c2; text-decoration: none;line-height:150%;}

.11px_gray3_1 { font-family:"arial"; font-size: 10px; color:#7e8593; text-decoration: none; line-height:100%;}
.11px_gray3_1  a:link { font-family:"arial"; font-size: 10px; color:#7e8593; text-decoration: none;line-height:100%;}
.11px_gray3_1  a:visited { font-family:"arial"; font-size: 10px; color:#7e8593; text-decoration: none; line-height:100%;}
.11px_gray3_1  a:active { font-family:"arial"; font-size: 10px; color:#7e8593; text-decoration: none;line-height:100%;}
.11px_gray3_1  a:hover { font-family:"arial"; font-size: 10px; color:#3075c2; text-decoration: none;line-height:100%;}


.11px_gray4 { font-family:"dotum","돋움", "arial"; font-size: 11px; color:#3b424e; text-decoration: none; line-height:100%;}
.11px_gray4  a:link { font-family:"dotum","돋움", "arial"; font-size: 11px; color:#3b424e; text-decoration: none;line-height:100%;}
.11px_gray4  a:visited { font-family:"dotum","돋움", "arial"; font-size: 11px; color:#3b424e; text-decoration: none; line-height:100%;}
.11px_gray4  a:active { font-family:"dotum","돋움", "arial"; font-size: 11px; color:#3b424e; text-decoration: none;line-height:100%;}
.11px_gray4  a:hover { font-family:"dotum","돋움", "arial"; font-size: 11px; color:#3075c2; text-decoration: none;line-height:100%;}

.11px_gray5 { font-family:"dotum","돋움", "arial"; font-size: 11px; color:#7e7e7e; text-decoration: none; line-height:120%;}
.11px_gray5  a:link { font-family:"dotum","돋움", "arial"; font-size: 11px; color:#7e7e7e; text-decoration: none; line-height:120%;}
.11px_gray5  a:visited { font-family:"dotum","돋움", "arial"; font-size: 11px; color:#7e7e7e; text-decorsation: none; line-height:120%;}
.11px_gray5  a:active { font-family:"dotum","돋움", "arial"; font-size: 11px; color:#7e7e7e; text-decoration: none; line-height:120%;}
.11px_gray5  a:hover { font-family:"dotum","돋움", "arial"; font-size: 11px; color:#598fab; text-decoration: none; line-height:120%;}

.11px_white { font-family:"dotum","돋움", "arial"; font-size: 11px; color:#ffffff; text-decoration: none; line-height:120%;}
.11px_white  a:link { font-family:"dotum","돋움", "arial"; font-size: 11px; color:#ffffff; text-decoration: none; line-height:120%;}
.11px_white  a:visited { font-family:"dotum","돋움", "arial"; font-size: 11px; color:#ffffff; text-decorsation: none; line-height:120%;}
.11px_white  a:active { font-family:"dotum","돋움", "arial"; font-size: 11px; color:#ffffff; text-decoration: none; line-height:120%;}
.11px_white  a:hover { font-family:"dotum","돋움", "arial"; font-size: 11px; color:#ffffff; text-decoration: none; line-height:120%;}


.11px_gray6 { font-family:"dotum","돋움", "arial"; font-size: 11px; color:656970; text-decoration: none; line-height:120%;}
.11px_gray6  a:link { font-family:"dotum","돋움", "arial"; font-size: 11px; color:656970; text-decoration: none; line-height:120%;}
.11px_gray6  a:visited { font-family:"dotum","돋움", "arial"; font-size: 11px; color:656970; text-decorsation: none; line-height:120%;}
.11px_gray6  a:active { font-family:"dotum","돋움", "arial"; font-size: 11px; color:656970; text-decoration: none; line-height:120%;}
.11px_gray6  a:hover { font-family:"dotum","돋움", "arial"; font-size: 11px; color:656970; text-decoration: underline; line-height:120%;}

.11px_blue { font-family:"dotum","돋움", "arial"; font-size: 11px; color:#3075c2; text-decoration: none; line-height:160%;}
.11px_blue  a:link { font-family:"dotum","돋움", "arial"; font-size: 11px; color:#3075c2; text-decoration: none;line-height:160%;}
.11px_blue  a:visited { font-family:"dotum","돋움", "arial"; font-size: 11px; color:#3075c2;text-decoration: none; line-height:160%;}
.11px_blue  a:active { font-family:"dotum","돋움", "arial"; font-size: 11px; color:#3075c2; text-decoration: none;line-height:160%;}
.11px_blue  a:hover { font-family:"dotum","돋움", "arial"; font-size: 11px; color:#5e86bc; text-decoration: none;line-height:160%;}


.font11 { font-family:"dotum","돋움", "arial"; font-size: 11px;}

.font11_red { font-family:"dotum","돋움", "arial"; font-size: 11px; color:red;}
.font11_blue { font-family:"dotum","돋움", "arial"; font-size: 11px; color:#598fab;}
.font11_gray { font-family:"dotum","돋움", "arial"; font-size: 11px; color:#2d2f31;}



/* 폼의 input박스등에 대한 설정 */
.home_input{ font-family:"dotum","돋움", "arial";font-size:12px;color:#838383; HEIGHT: 18px; border: 1px solid #e0e0df;}
.home_input2{ font-family:"dotum","돋움", "arial"; font-size:12px; color:#838383; HEIGHT: 40px; border: 1px solid #e0e0df;}
.textarea{border:1px solid #CDCDCD; background:#ffffff; font-size:12px; font-family:"dotum","돋움", "arial"; color:#868585; padding:10px}
.textarea_2{border:1px solid #CDCDCD; background:#ffffff; font-size:11px; font-family:"dotum","돋움", "arial"; color:#868585; padding:10px}
.select { background:#ffffff; font-family: "dotum","돋움", "arial"; border:1px #CDCDCD solid; font-size: 8pt; color:#868585;}


/* 컬러폰트*/
.blue { font-family:"dotum","돋움", "arial"; color:#5e86bc; text-decoration: none; line-height:160%;}
.blue01 { font-family:"dotum","돋움", "arial"; font-size:14px; color:9edcff; text-decoration: none; line-height:160%; font-weight: bold}
.turquoise { font-family:"dotum","돋움", "arial"; color:#598fab; text-decoration: none; line-height:160%; font-size:12px;}
.teatxt01 { font-family:"dotum","돋움", "arial"; color:#404040; text-decoration: none;}
.white { font-family:"dotum","돋움", "arial"; color:#ffffff; text-decoration: none; line-height:160%;}
.gray { font-family:"dotum","돋움", "arial"; color:#707070; text-decoration: none; line-height:160%; font-weight: bold}
.gray01 { font-family:"dotum","돋움", "arial"; font-size:12px; color:#5b6575; text-decoration: none; line-height:100%; font-weight: bold}
.black { font-family:"dotum","돋움", "arial"; color:#353535; text-decoration: none; line-height:160%;}
.orange { font-family:"dotum","돋움", "arial"; color:#ff6931; text-decoration: none; line-height:160%;}
.orange16 { font-family:"dotum","돋움", "arial"; font-size: 14px; color:#ff6931; text-decoration: none; line-height:160%;}
.blue_bold { font-family:"dotum","돋움", "arial"; color:#3e78b7; text-decoration: none; line-height:160%; font-weight: bold}

.blue_brd_02 { font-family:"dotum","돋움", "arial"; color:#5e86bc; text-decoration: none; line-height:13px ; padding:5px 0px 2px 0px;}
.blue_bold_02 { font-family:"dotum","돋움", "arial"; color:#3e78b7; text-decoration: none; font-weight: bold;line-height:13px ; padding:5px 0px 2px 0px;}
.blue01_02 { font-family:"dotum","돋움", "arial"; font-size:14px; color:9edcff; text-decoration: none; font-weight: bold;line-height:13px ; padding:5px 0px 2px 0px}
.blue01_03 {line-height:13px ; padding:5px 0px 2px 0px}

.blue_under { font-family:"dotum","돋움", "arial"; color:#3075c2; text-decoration: underline; line-height:160%;}
.blue_under  a:link { font-family:"dotum","돋움", "arial"; color:#3075c2; text-decoration: underline;line-height:160%;}
.blue_under  a:visited { font-family:"dotum","돋움", "arial"; color:#3075c2; text-decorsation: underline;line-height:160%;}
.blue_under  a:active { font-family:"dotum","돋움", "arial"; color:#3075c2; text-decoration: underline;line-height:160%;}
.blue_under  a:hover { font-family:"dotum","돋움", "arial"; color:#3075c2; text-decoration: underline;line-height:160%;}

.org { font-family:"dotum","돋움", "arial"; color:#ff6931; text-decoration: none; line-height:160%;}
.org  a:link { font-family:"dotum","돋움", "arial"; color:#ff6931; text-decoration: none;line-height:160%;}
.org  a:visited { font-family:"dotum","돋움", "arial"; color:#ff6931; text-decorsation: none;line-height:160%;}
.org  a:active { font-family:"dotum","돋움", "arial"; color:#ff6931; text-decoration: none;line-height:160%;}
.org  a:hover { font-family:"dotum","돋움", "arial"; color:#ff6931; text-decoration: underline;line-height:160%;}

.blue_01 { font-family:"dotum","돋움", "arial"; color:#598fab; text-decoration: none; line-height:160%;}
.blue_01  a:link { font-family:"dotum","돋움", "arial"; color:#598fab; text-decoration: none;line-height:160%;}
.blue_01  a:visited { font-family:"dotum","돋움", "arial"; color:#598fab; text-decorsation: none;line-height:160%;}
.blue_01  a:active { font-family:"dotum","돋움", "arial"; color:#598fab; text-decoration: none;line-height:160%;}
.blue_01  a:hover { font-family:"dotum","돋움", "arial"; color:#598fab; text-decoration: underline;line-height:160%;}


.white { font-family:"dotum","돋움", "arial"; color:#ffffff; text-decoration: none; line-height:160%;}
.white  a:link { font-family:"dotum","돋움", "arial"; color:#ffffff; text-decoration: none;line-height:160%;}
.white  a:visited { font-family:"dotum","돋움", "arial"; color:#ffffff; text-decorsation: none;line-height:160%;}
.white  a:active { font-family:"dotum","돋움", "arial"; color:#ffffff; text-decoration: none;line-height:160%;}
.white  a:hover { font-family:"dotum","돋움", "arial"; color:#ffffff; text-decoration: underline;line-height:160%;}


.gray02 { font-family:"dotum","돋움", "arial"; color:#666666; text-decoration: underline; line-height:160%;}
.gray02  a:link { font-family:"dotum","돋움", "arial"; color:#666666; text-decoration: underline;line-height:160%;}
.gray02  a:visited { font-family:"dotum","돋움", "arial"; color:#666666; text-decoration: underline;line-height:160%;}
.gray02  a:active { font-family:"dotum","돋움", "arial"; color:#255caf; text-decoration: none;line-height:160%;}
.gray02  a:hover { font-family:"dotum","돋움", "arial"; color:#255caf; text-decoration: underline;line-height:160%;}

/* 테이블 라인*/
.t-white { border: 0px solid; border-color: #ffffff; border-top-width: 2px;	}

/* 교수소개 테이블 */
.txt01 { font-family:"dotum","돋움", "arial"; font-size: 12px; color:#ff6931; text-decoration: none; font-weight: bold}
.txt02 { padding-left:8px;}
.txt03 { font-family:"dotum","돋움", "arial"; font-size: 12px; color:#ff6931; text-decoration: none; font-weight: bold}
.txt04 { font-family:"dotum","돋움", "arial"; font-size: 14px; color:#5e86bc; text-decoration: none;}



/* 2008-09-29 김은성 추가 */
.hand {cursor:hand}
.boardView {overflow-x:auto;overflow-y:auto;width:700}


/* 게시판에서 <P> 태그 한줄만 먹게 하기 위한 것*/
P {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px
}

.pageon {color:#000000;font-weight:bold;}
.pageoff {}