<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <compilation debug="true" />
        <httpRuntime enableVersionHeader="false" />
    </system.web>

    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.asp" />
            </files>
        </defaultDocument>
        <staticContent>
            <mimeMap fileExtension=".scss" mimeType="text/css" />
        </staticContent>
        <handlers>
            <add name="SassHandler" path="*.scss" verb="*" type="System.Web.StaticFileHandler" preCondition="integratedMode" />
            <add name="CssMapHandler" path="*.css.map" verb="*" type="System.Web.StaticFileHandler" preCondition="integratedMode" />
        </handlers>
    </system.webServer>
</configuration>