:root {
  --full-height: 100vh;
  --color-black: #000;
  --color-white: #fff;
  --color-gong: #28b7b5;
  --color-sobang: #b85353;
  --color-army: #7a8e53;
}

/* Default S */
*[class*=fade-item] {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-out, -webkit-transform 0.5s ease-out;
  transition: opacity 0.5s ease-out, -webkit-transform 0.5s ease-out;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.fade-item1 {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.fade-item2 {
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

.fade-item3 {
  -webkit-transition-delay: 0.9s;
  transition-delay: 0.9s;
}

.fade-item4 {
  -webkit-transition-delay: 1.2s;
  transition-delay: 1.2s;
}

.fade-item5 {
  -webkit-transition-delay: 1.5s;
  transition-delay: 1.5s;
}

.fade-item6 {
  -webkit-transition-delay: 1.8s;
  transition-delay: 1.8s;
}

.fade-item7 {
  -webkit-transition-delay: 2.1s;
  transition-delay: 2.1s;
}

.fade-item8 {
  -webkit-transition-delay: 2.4s;
  transition-delay: 2.4s;
}

.fade-item9 {
  -webkit-transition-delay: 2.7s;
  transition-delay: 2.7s;
}

.fade-item10 {
  -webkit-transition-delay: 3s;
  transition-delay: 3s;
}

[data-fade=fade-up] *[class*=fade-item] {
  -webkit-transform: translateY(15%);
  transform: translateY(15%);
}

[data-fade=fade-up].fade-up *[class*=fade-item] {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

[data-fade=fade-in].fade-in *[class*=fade-item] {
  opacity: 1;
}

@keyframes spin {
  0% {
    transform: rotateX(-90deg) translateY(150px);
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  100% {
    transform: rotateX(0deg) translateY(0px);
    opacity: 1;
  }
}

@keyframes flow {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

body.gsap,
body.gsap #wrap {
  height: auto;
  background-color: #333;
}

body.gsap .wrap {
  overflow-x: initial;
}

body.gsap {
  overflow-x: hidden;
  line-height: 1;
  color: #000;
}

body.gsap .page_foot {
  padding: 30px;
  background-color: var(--color-black);
}

body.gsap .page_foot .page_copyright {
  font-size: 24px;
  color: var(--color-white);
}

.custom_pointer {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: fixed;
  width: 16px;
  height: 16px;
  background-color: var(--color-white);
  border-radius: 50%;
  z-index: 1000;
  pointer-events: none;
  mix-blend-mode: difference;
  -webkit-transition: -webkit-transform 0.325s ease-out;
  transition: -webkit-transform 0.325s ease-out;
  transition: transform 0.325s ease-out;
  transition: transform 0.325s ease-out, -webkit-transform 0.325s ease-out;
}

.custom_pointer.active {
  -webkit-transform: scale(2);
  transform: scale(2);
}

@media screen and (max-width: 1280px) {
  .custom_pointer {
    display: none;
  }
}

.megagong_main_wrap {
  font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
}

.megagong_main_wrap section {
  position: relative;
}

.sec_dark {
  background-color: var(--color-black);
}

/* Default E */

/* sec_top S */
.top_msg_wrp {
  position: relative;
  display: grid;
  grid-template-rows: 1px auto auto;
  background-color: var(--color-black);
  /* height: var(--full-height); */
  --img-opacity: 1;
}

.top_msg_wrp::before {
  content: '';
  position: sticky;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: var(--full-height);
  background-image: url("https://img.megagong.net/m/2023/0130_ebook/bg_con1.png");
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
  opacity: var(--img-opacity);
}

.top_msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: var(--full-height);
}

.top_msg span {
  perspective: 500px;
  font-weight: 900;
  font-size: 72px;
  margin: 25px 0;
}

/* sec_top E */

/* sec_black S */
.bk_wrp {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: var(--full-height);
}

.bk_msg {
  margin-top: 100px;
}

.bk_msg p {
  margin-top: 30px;
  font-size: 40px;
  color: var(--color-white);
  font-weight: 600;
  text-align: center;
  --mask: polygon(0 0, 0 0, 0 100%, 0 100%);
}

.bk_msg p span {
  position: relative;
  display: inline-block;
  mix-blend-mode: screen;
  line-height: 1.5;
}

.bk_msg p span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background-color: var(--color-white);
  clip-path: var(--mask);
  mix-blend-mode: difference;
}

.bk_msg p:first-child {
  margin-top: 0;
}

.bk_cf {
  position: relative;
  font-size: 160px;
  margin-top: 150px;
  color: var(--color-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.bk_cf>div {
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  white-space: nowrap;
  animation: flow 20s linear infinite;
  will-change: transform;
}

.bk_cf span {
  padding: 0 30px;
  font-weight: 700;
  opacity: 0.1;
}

/* sec_black E */

/* sec_intro S */
.sec_intro {
  background-color: #efefef;
}
.msg_wrp {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: var(--full-height);
}

.msg_wrp span {
  font-size: 60px;
  font-weight: 900;
}

.intro_wrp {
  height: calc(var(--full-height) * 7);
  position: relative;
  overflow: hidden;
}

.intro_msg {
  height: calc(var(--full-height) * 3);
  z-index: 2;
}

.intro_msg .msg_wrp {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  transform: translate(-50%, 0);
  width: 800px;
}

.intro_msg span {
  position: absolute;
  opacity: 0;
}

.intro_msg span.msg1 {
  left: 0;
}

.intro_msg span.msg2 {
  right: 0;
}

.intro_logo {
  height: calc(var(--full-height) * 2);
  overflow: hidden;
}

.intro_logo .msg_wrp {
  font-size: 0;
}

.intro_logo .msg_wrp .logo {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 85px;
  position: relative;
  z-index: 1;
  margin: 15px 0;
}

.intro_logo .msg_wrp .logo .ml {
  margin-left: 20px;
}

.intro_bg {
  height: 100%;
}

.intro_bg .bg_wrp {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: var(--full-height);
  /* background-color: var(--color-white); */
}

.intro_bg .bg_wrp .sample_layout {
  position: absolute;
  width: 600px;
  opacity: 0;
}

.intro_bg .bg_wrp .sample_layout1 {
  left: 15%;
  top: 30px;
}

.intro_bg .bg_wrp .sample_layout2 {
  right: 10%;
  top: 60px;
}

.intro_bg .bg_wrp .sample_layout3 {
  left: 20%;
  bottom: 30px;
}

.intro_bg .bg_wrp .sample_layout4 {
  right: 20%;
  bottom: 60px;
}

.intro_bg .bg_wrp .sample_layout5 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro_bg .bg_wrp .sample_layout6 {
  top: 30%;
  left: 30px;
}

.intro_bg .bg_wrp .sample_layout7 {
  top: 40%;
  right: 30px;
}

.intro_logo .shadow_bg {
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--full-height);
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(244, 244, 245) 100%, rgb(0, 0, 0) 100%);
}

/* sec_intro E */

/* sec_slide S */
.sec_slide {
  padding-top: calc(var(--full-height) / 2);
}
.slide_wrp {
  display: flex;
  width: 600%;
  height: var(--full-height);
}

.slide_wrp .slide_panel {
  display: flex;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}

.slide_panel .slide_inner {
  position: relative;
}

.slide_panel .txt_wrp,
.slide_panel .pic_wrp {
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.slide_panel .txt_wrp {
  color: var(--color-white);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-100px, -50%);
}

.slide_panel .txt_wrp .tit {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 30px;
  line-height: 1.4;
}

.slide_panel .txt_wrp .desc,
.slide_panel .txt_wrp .review_list {
  font-size: 20px;
  line-height: 2;
}

.slide_panel .pic_wrp {
  margin-left: 40vw;
  transform: translateX(100px);
}

.slide_panel.active .txt_wrp,
.slide_panel.active .pic_wrp {
  opacity: 1;
}

.slide_panel.active .txt_wrp {
  transform: translate(0, -50%);
}

.slide_panel.active .pic_wrp {
  transform: translateX(0);
}

.slide_panel.slide_2 {
  background: linear-gradient(100deg, rgb(91 112 234) 50%, rgb(60 157 207) 84%);
}

.slide_panel.slide_3 .pic_wrp {
  max-width: 550px;
}

.slide_panel.gong {
  background-color: var(--color-gong);
}

.slide_panel.sobang {
  background-color: var(--color-sobang);
}

.slide_panel.army {
  background-color: var(--color-army);
}

/* sec_slide E */

/* sec_publish S */
.sec_publish {
  background-color: rgb(60 157 207);
}

.member_wrap {
  background-color: var(--color-white);
}

.publish_wrp {
  padding: 150px 0;
  margin: 0 auto;
  width: 1080px;
}

.publish_wrp .member_tit {
  margin-bottom: 70px;
  font-size: 40px;
  font-weight: 700;
}

/* sec_publish E */

/* sec_story S */
.story_wrp {
  padding: 150px 0;
  margin:0 auto;
  width: 1080px;
  height: var(--full-height);
  display: flex;
  justify-content: center;
  align-items: center;
}
.story_tit {
  font-size: 60px;
  font-weight: 500;
  color: #fff;
}
/* sec_story E */

/* sec_circle S */
.circle_wrp {
  padding: 150px 0;
  margin:0 auto;
  width: 1080px;
  height: var(--full-height);
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle_obj {
  width: 150px;
  height: 150px;
  background-color: red;
  border-radius: 50%;
}
/* sec_circle E */

@media screen and (max-width: 750px) {
  .slide_wrp {
    display: block;
    width: 100%;
    height: auto;
  }
  .slide_wrp .slide_panel {
    height: auto;
  }
}