@charset "utf-8";
/* CSS Document */

/*------------------------------------------------------------------------------
| 170523_?��?���?�? Diary ?��?��
|.............................................................................*/

/*------------------------------------------------------------------------------
| �????배경, ?��뭔노?�� ?��?��
|.............................................................................*/
.maskbg_wrap { display:none;}
.maskbg_wrap.on { display:block; position:fixed; left:0; top:0; width:100%; height:100%; background:url(http://img.megagong.net/etc/stamp/mask_bg70.png) repeat left top; z-index:2;}
.popnoti_wrap { position:fixed; left:50%; top:50%; margin-left:-215px; margin-top:-160px; z-index:3; width:430px; _height:320px ;}
.popnoti_wrap .popnoti_inner {position:relative; padding:30px;  background:url(http://img.megagong.net/etc/170529_1/pop_noti_bg.png) no-repeat 30px top #fff;}
.popnoti_wrap .popnoti_inner .noti_top p { font-family:NanumMyeongjo; text-align:center; font-size:15px; line-height:160%; color:#111; font-style:italic;}
.popnoti_wrap .popnoti_inner .noti_top { padding-bottom:30px; border-bottom:1px dashed #ddd;}
.popnoti_wrap .popnoti_inner .noti_cont { padding-top:20px;}
.popnoti_wrap .popnoti_inner .noti_cont p { padding-bottom:10px; color:#111;  font-size:16px; font-weight:bold; font-family:Malgun Gothic; font-style:normal;}
.popnoti_wrap .popnoti_inner .noti_cont p span { color:#0074c7;}
.popnoti_wrap .popnoti_inner .noti_cont em  {color:#111;  font-size:14px; font-family:Malgun Gothic; font-style:normal; letter-spacing:-1px; }
.popnoti_wrap .popnoti_inner .btn_close { position:absolute; right:10px ; top:10px;}
.popguide_wrap .btn_close1{ position:absolute; right:10px ; top:10px;}
/*------------------------------------------------------------------------------
| ?��?��?���? ?��?�� ?��?��?��?��
|.............................................................................*/
.studydiary_wrap { width:1040px; height:670px; overflow:hidden;}
.studydiary_wrap .cont_l { float:left; width:200px; height:670px; position:relative; background:#212842; text-align:left;}
.studydiary_wrap .cont_r { float:left; width:840px; height:670px; background:#ffffff; overflow-y:scroll; text-align:left;}
.studydiary_wrap .cont_r .cont_inner{ padding:30px;}

/*------------------------------------------------------------------------------
| ?���?
|.............................................................................*/
.studydiary_wrap .cont_l  a.btn_guide { position:absolute; display:block; right:0; top:0; padding: 8px 10px; background:#141828; color:#ccc;}
.studydiary_wrap .cont_l .poptitle_wrap { padding:30px 0 0 30px; height:120px; _height:150px;}
.studydiary_wrap .cont_l .poptitle_wrap h2 { color:#fff; font-size:21px; margin:0; padding:0; line-height:140%; font-weight:bold; font-family:Malgun Gothic, Arial, Helvetica, sans-serif; letter-spacing:-1px; }
.studydiary_wrap .cont_l .statusboard_wrap { padding:0 30px;}
/* 경쟁?�� ?��?��?�� */
.studydiary_wrap .cont_l .statusboard_wrap .boardtxt_box { border:1px solid #9094a1; height:28px; _height:30px;}
.studydiary_wrap .cont_l .statusboard_wrap .boardtxt_box p { padding-top:5px; color:#fff; font-weight:bold; font-family:Malgun Gothic, Arial, Helvetica, sans-serif; text-align:center;  }
.studydiary_wrap .cont_l .statusboard_wrap ul { margin:0; padding:0;}
.studydiary_wrap .cont_l .statusboard_wrap ul li { display:block; border-bottom:1px dotted #383e55; padding:13px 0; }
.studydiary_wrap .cont_l .statusboard_wrap ul li p { padding-bottom:5px; font-size:12px; color:#ccc; font-weight:normal; font-family:Malgun Gothic, Arial, Helvetica, sans-serif; letter-spacing:-1px;}
.studydiary_wrap .cont_l .statusboard_wrap ul li span { color:#fff;  font-size:14px; font-weight:bold; font-family:Malgun Gothic;}
.studydiary_wrap .cont_l .statusboard_wrap ul li span em { color:#fff;  font-size:16px; font-weight:bold; font-family:Malgun Gothic; font-style:normal;}

/*------------------------------------------------------------------------------
| ?��른쪽_ 
|.............................................................................*/
/* ========== 01 ?��?�� 출석?��?���?========== */
.studydiary_wrap .cont_r .pagetitle_wrap { height:40px;}
.studydiary_wrap .cont_r .pagetitle_wrap p { font-size:21px; color:#111; font-weight:bold; font-family:Malgun Gothic, Arial, Helvetica, sans-serif; letter-spacing:-2px; }
/* 출석�? ?��?��?��?�� */
.studydiary_wrap .cont_r .attendgoal_wrap { overflow:hidden;}
.studydiary_wrap .cont_r .attendgoal_wrap .attend_wrap { float:left; width:470px; margin-right:30px;}
.studydiary_wrap .cont_r .attendgoal_wrap .goal_wrap { float:left;  width:260px; }
/* 출석 */
.studydiary_wrap .attend_wrap .pagenav { text-align:center; height:40px;}
.studydiary_wrap .attend_wrap .pagenav table { margin:0 auto;}
.studydiary_wrap .attend_wrap .pagenav table tr td p { padding:0 17px;  font-size:18px; color:#111; font-weight:bold; font-family:Malgun Gothic, Arial, Helvetica, sans-serif; letter-spacing:0px; }
.studydiary_wrap .attend_wrap table.attend_calendar {}
/* 출석 ?��?���?*/
.studydiary_wrap .attend_wrap table.attend_calendar { width:100%;}
.studydiary_wrap .attend_wrap table.attend_calendar { text-align:center; border-top:1px solid #eee; border-left:1px solid #eee;}
.studydiary_wrap .attend_wrap table.attend_calendar tr th { padding:10px 5px 6px 5px; border-right:1px solid #eee;  border-bottom:1px solid #eee; font-size:12px;}
.studydiary_wrap .attend_wrap table.attend_calendar tr th { color:#666; background-color:#f8f8f8; letter-spacing:-1px;}
.studydiary_wrap .attend_wrap table.attend_calendar tr td { position:relative; border-right:1px solid #eee; border-bottom:1px solid #eee; vertical-align:top; }
.studydiary_wrap .attend_wrap table.attend_calendar tr td a {display:block;  color:#666; height:81px; width:66px; cursor:pointer;}
.studydiary_wrap .attend_wrap table.attend_calendar tr td.today a{ background:#f2f8fc;}
.studydiary_wrap .attend_wrap table.attend_calendar tr td a .gara { display:none;}
.studydiary_wrap .attend_wrap table.attend_calendar tr td.on a,
.studydiary_wrap .attend_wrap table.attend_calendar tr td.on a:hover,
.studydiary_wrap .attend_wrap table.attend_calendar tr td a:hover .gara { display:block; position:absolute; border:1px solid #69b1f8; left:-1px; top:-1px; height:81px; width:66px; _height:82px; _width:68px; z-index:1;}
.studydiary_wrap .attend_wrap table.attend_calendar tr td p.date {position:absolute; left:3px; top:2px;  color:#999;  font-size:11px; font-family: Tahoma, Geneva, sans-serif; font-weight:normal; text-align:left; }
.studydiary_wrap .attend_wrap table.attend_calendar tr td.sun p.date { color:#c71d01;}
.studydiary_wrap .attend_wrap table.attend_calendar tr td.sat p.date { color:#999;}
.studydiary_wrap .attend_wrap table.attend_calendar tr td p.num_txt { font-size:11px;  color:#999; font-family:"dotum"; font-weight:normal; text-align:center; letter-spacing:0px; padding-bottom:0px; height:18px; line-height:18px; font-family:Malgun Gothic;}
.studydiary_wrap .attend_wrap table.attend_calendar tr td p.num_txt span { color:#0186e5;}
.studydiary_wrap .attend_wrap table.attend_calendar tr td p.num_txt em { color:#ccc; }
.studydiary_wrap .attend_wrap table.attend_calendar tr td .ico_stamp { padding-top:10px; width:52px; height:49px; text-align:center; margin:0 auto;}
/* ?��?��목표*/
.studydiary_wrap .goal_wrap .title_wrap { height:39px; border-bottom:1px solid #333; _height:50px;}
.studydiary_wrap .goal_wrap .title_wrap table tr td { font-family:Malgun Gothic, Arial, Helvetica, sans-serif;}
.studydiary_wrap .goal_wrap .title_wrap table p { font-size:18px; color:#111; font-weight:bold; }
.studydiary_wrap .goal_wrap .title_wrap table span { color:#0074c7;}
.studydiary_wrap .goal_wrap .title_wrap table em { font-style:normal; padding-left:5px;}
/* page ?��?��목표_?���?*/
.studydiary_wrap .goal_wrap textarea {margin:0; padding:10px;  border:1px solid #eeeeee; color:#666; letter-spacing:-1px; line-height:140%; vertical-align:top; overflow-y:auto;}
.studydiary_wrap .goal_wrap .goal_cont .list_col {padding:20px 10px 0px 10px;  height:350px; _height:370px; border-bottom:1px solid #333; overflow-y:auto;}
.studydiary_wrap .goal_wrap .goal_cont .list_col .list_li { padding-bottom:15px;}
.studydiary_wrap .goal_wrap .goal_cont .list_col .list_li table tr td {vertical-align:top; margin:0; padding:0px; text-align:left;}
.studydiary_wrap .goal_wrap .goal_cont .list_col .list_li table tr td.li_l {width:20px;}
.studydiary_wrap .goal_wrap .goal_cont .list_col .list_li table tr td.li_l a {display:block; margin-top:8px;} 
.studydiary_wrap .goal_wrap .goal_cont .list_col .list_li table tr td input.chbox {margin:0px 0 0px 0; padding:0; vertical-align:top; width:14px; height:14px;}
.studydiary_wrap .goal_wrap .goal_cont .list_col .list_li table tr td textarea {height:60px; width:100%; box-sizing:border-box;}
.studydiary_wrap .goal_wrap .goal_cont .list_col .list_li table tr td.li_r {color:#666;}
.studydiary_wrap .goal_wrap .goal_cont .list_col .btn_more {padding-bottom:20px;}
.studydiary_wrap .goal_wrap .goal_cont .list_col .btn_more a { display:block;margin:0; padding:4px 0; width:100%; box-sizing:border-box; background:#f6f6f7; border:1px solid #eeeeee; text-align:center;}
.studydiary_wrap .goal_wrap .goal_cont .list_col .btn_more a:hover {background:#eaeaec; border:1px solid #d8d8d8;}
/* ?��?��목표_코멘?��?��줄평*/
.studydiary_wrap .goal_wrap .comment_box {padding-top:20px;}
.studydiary_wrap .goal_wrap .comment_box textarea {height:60px; _height:80px; box-sizing:content-box; width:238px; _width:260px;}
.studydiary_wrap .goal_wrap .btn_wrap a{padding-left:0; padding-right:0; width:125px; text-align:center;}
/* page ?��?��목표_보기*/
.studydiary_wrap .goal_wrap .goal_cont.page_view .list_col .list_li {padding-top:15px; border-bottom:1px dashed #ddd;}
.studydiary_wrap .goal_wrap .goal_cont.page_view .list_col .list_li.first {padding-top:00px;}
.studydiary_wrap .goal_wrap .goal_cont.page_view .list_col .list_li table tr td input.chbox {margin:0 0 0px 0; padding:0; vertical-align:-2px;}
.studydiary_wrap .goal_wrap .goal_cont.page_view .list_col .list_li table tr td.li_r p.done{color:#999; text-decoration:line-through;}


/*------------------------------------------------------------------------------
| 170620_?��?��?��강메?�� 좌측메뉴 �?경되?�� �?
|.............................................................................*/
.leftmenucst_wrap {text-align:left;}
.leftmenucst_wrap .leftmenucst_ul{width:158px;  margin:0 0 0px 0; padding:0; border-bottom:1px solid #666;}
.leftmenucst_wrap .leftmenucst_ul .dep0 a {font-family:'Malgun Gothic', Arial, Helvetica, sans-serif;
	display:block; overflow:hidden; padding:15px 0px 15px 0px; line-height:18px; font-size:14px; text-align:center;
    font-weight:bold;  border-top:1px solid #d9d9d9; cursor:pointer; color:#fff; letter-spacing:-1px; font-weight:bold;}
.leftmenucst_wrap .leftmenucst_ul .dep0.first a  {border-top:none;}
.leftmenucst_wrap .leftmenucst_ul .dep0.no01 {background:#61a2d3;}
.leftmenucst_wrap .leftmenucst_ul .dep0.no02 {background:#657ccf;}	
/* ?��?��?���? ?��?��경우 */
.leftmenucst_wrap .leftmenucst_ul .dep1 a{
	display:block; overflow:hidden; padding:13px 0px 12px 0px; height:auto; line-height:18px; font-size:12px;
    font-weight:bold;  border-top:1px solid #d9d9d9; cursor:pointer; color:#333; letter-spacing:-1px; word-break:keep-all;  }
.leftmenucst_wrap .leftmenucst_ul .dep1 a:hover, .leftmenucst_wrap .leftmenucst_ul .dep1 a.on{
	display:block; overflow:hidden; padding:13px 0px 12px 0px; height:auto; line-height:18px; font-size:12px; 
    font-weight:bold;  border-top:1px solid #d9d9d9; cursor:pointer; color:#0074c7; letter-spacing:-1px;word-break:keep-all;}
.leftmenucst_wrap .leftmenucst_ul .dep1.first a {border-top:none;}
/* ?��?��?���? ?��?��경우 */
.leftmenucst_wrap .leftmenucst_ul .dep1_arrow {position:relative; overflow:hidden; border-top:1px solid #d9d9d9;}
.leftmenucst_wrap .leftmenucst_ul .dep1_arrow .l_txt a {display:block; float:left; width:130px;
    padding:13px 0px 12px 0px; height:auto; line-height:18px; font-size:12px;
    font-weight:bold;  cursor:pointer; color:#333; letter-spacing:-1px; word-break:keep-all; }
.leftmenucst_wrap .leftmenucst_ul .dep1_arrow .l_txt a:hover, .leftmenucst_wrap .leftmenucst_ul .dep1_arrow .l_txt a.on {display:block; float:left; width:130px;
    padding:13px 0px 12px 0px; height:auto; line-height:18px; font-size:12px;
    font-weight:bold; cursor:pointer; color:#0074c7; letter-spacing:-1px; word-break:keep-all; }
.leftmenucst_wrap .leftmenucst_ul .dep1_arrow .r_arrow a { position:absolute; right:0; top:10px; display:block;  float:left; width:18px; height:18px;
 background:url(http://img.megagong.net/etc/170612_2/leftmenu_arrow.png) no-repeat 0 0px; }
.leftmenucst_wrap .leftmenucst_ul .dep1_arrow .r_arrow a.on { position:absolute; right:0; top:10px; display:block;  float:left; width:18px; height:18px;
 background:url(http://img.megagong.net/etc/170612_2/leftmenu_arrow_on.png) no-repeat 0 0px;}

.leftmenucst_wrap .leftmenucst_ul .subDep {margin:0; padding:5px 0 5px 0; border-top:1px dashed #eeeeee;}
.leftmenucst_wrap .leftmenucst_ul .subDep li a{
	width:151px; _width:158px; display:block; overflow:hidden; padding:8px 0px 8px 7px; line-height:18px; font-size:12px; font-weight:normal; 
	cursor:pointer; color:#777; letter-spacing:-1px; word-break:keep-all;
	background:url(http://img.megagong.net/campus/main/ico_menudot.png) no-repeat 0px 13px;
	border-bottom:1px dotted #eeeeee;}
.leftmenucst_wrap .leftmenucst_ul .subDep li a:hover,.leftmenucst_wrap .leftmenucst_ul .subDep li a.on{
    width:151px; _width:158px; display:block; overflow:hidden; padding:8px 0px 8px 7px; line-height:18px; font-size:12px; 
    cursor:pointer; color:#0074c7; letter-spacing:-1px; word-break:keep-all; 
    background:url(http://img.megagong.net/campus/main/ico_menudot_on.png) no-repeat 0px 13px;
	border-bottom:1px dotted #eeeeee;}
.leftmenucst_wrap .leftmenucst_ul .subDep li.last a {border-bottom:none;}

.leftmenucst_wrap .leftmenucst_bnr{margin:20px 0 0 0; padding:0;}
.leftmenucst_wrap .leftmenucst_bnr li{margin-bottom:10px;}
.leftmenucst_wrap  a .ico_n {font-size:11px; color:#fa3345; display:inline-block; padding-left:5px; font-weight:bold;} 
.leftmenucst_wrap  a .ico_img { display:inline-block; padding-left:5px; vertical-align:1px; }
.leftmenucst_wrap  a .ico_new { display:inline-block; padding-left:5px; vertical-align:-3px; }